<ion-toolbar [ngClass]="{ 'rtl': language == 'ar' }">
  <ion-buttons routerLink="/tabs/more" slot="start">
    <ion-icon size="large" name="{{ language != 'ar' ? 'chevron-back-outline' : 'chevron-forward-outline'}}"></ion-icon>
  </ion-buttons>
  <h1 class="ion-text-center">{{ 'SETTINGS.SETTINGS' | translate}}</h1>
</ion-toolbar>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-card>
        <ion-card-content (click)="openLanguageSwitcherDialog()">
          <ion-text [ngClass]="{ 'ion-text-arabic': language == 'ar', 'ion-text-english': language == 'en'}">
            {{ 'SETTINGS.LANGUAGE' | translate}}</ion-text>
          <ion-text [ngClass]="{ 'language-arabic': language == 'ar', 'language-english': language == 'en'}"
            class="language">{{language}}</ion-text>
          <app-language-switcher (lang)="language = $event"></app-language-switcher>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-card>
        <ion-card-content (click)="openThemeSwitcherDialog()">
          <ion-text [ngClass]="{ 'ion-text-arabic': language == 'ar', 'ion-text-english': language == 'en'}">
            {{ 'SETTINGS.THEME' | translate}}</ion-text>
          <app-theme-switcher (color)="color = $event"></app-theme-switcher>
          <div [ngClass]="{ 'color-arabic': language == 'ar', 'color-english': language == 'en'}" class="color"
            [style.background]="color"></div>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-card>
        <ion-card-content routerLink="/user-guide">
          <ion-text [ngClass]="{ 'ion-text-arabic': language == 'ar', 'ion-text-english': language == 'en'}">
            {{ 'SETTINGS.USER_GUIDE' | translate}}</ion-text>
          <ion-icon [ngClass]="{ 'ion-icon-arabic': language == 'ar', 'ion-icon-english': language == 'en'}"
            size="large" name="help-outline"></ion-icon>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>