<ion-toolbar>
  <ion-buttons routerLink="/tabs/home" slot="start">
    <ion-icon size="large" name="arrow-back-outline"></ion-icon>
  </ion-buttons>
  <h1 class="ion-text-center">Settings</h1>
</ion-toolbar>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-card>
        <ion-card-content (click)="openLanguageSwitcherDialog()">
          <ion-text>Language</ion-text>
          <ion-text class="language">{{language}}</ion-text>
          <app-language-switcher (lang)="language = $event"></app-language-switcher>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-card>
        <ion-card-content (click)="openThemeSwitcherDialog()">
          <ion-text>Theme</ion-text>
          <app-theme-switcher (color)="color = $event"></app-theme-switcher>
          <div class="color" [style.background]="color"></div>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-card>
        <ion-card-content routerLink="/user-guide">
          <ion-text>User Guide</ion-text>
          <ion-icon size="large" name="help-outline"></ion-icon>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row *ngIf="userIsLoggedIn">
      <ion-card>
        <ion-card-content (click)="logout()">
          <ion-text>Logout</ion-text>
          <ion-icon size="large" name="log-out-outline"></ion-icon>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>