ion-card{
    width: 91vw;
    color: white;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
    box-shadow: none;
    background-color: #78c288;
}

ion-text{
    font-size: 23px;
}

ion-icon{
    float: right;
}