ion-toolbar {
  --background: var(--ion-color-primary);
  color: white;
}

ion-toolbar.rtl{
  letter-spacing: 0;
}


ion-content {
  --background: var(--ion-color-primary);
}

ion-card {
  width: 91vw;
  color: white;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: var(--ion-color-primary-tint);
  //   background-color: #6370ff;
}

ion-text {
  font-size: 23px;
}

.ion-text-english {
  letter-spacing: 1px;
}

ion-text.language-english {
  float: right;
}

ion-text.language-arabic {
  float: left;
}

.ion-icon-english {
  float: right;
}

.ion-icon-arabic {
  float: left;
}

.ion-toggle-english {
  float: right;
}

.ion-toggle-arabic {
  float: left;
}

.color {
  background: rgb(82, 96, 255);
  width: 5vw;
  display: inline-block;
  height: 3vh;
  border-radius: 105x;
  border-radius: 70%;
  margin-top: 5px;
}

.color-english {
  float: right;
}

.color-arabic {
  float: left;
}
