<ion-toolbar [ngClass]="{ 'rtl': language == 'ar' }">
  <ion-buttons routerLink="/tabs/home" slot="start">
    <ion-icon size="large" name="{{ language != 'ar' ? 'chevron-back-outline' : 'chevron-forward-outline'}}"></ion-icon>
  </ion-buttons>
  <h1 class="ion-text-center">{{ 'MORE.MORE' | translate}}</h1>
</ion-toolbar>  

<ion-content>

  <ion-grid>
    <ion-row *ngIf="!userIsLoggedIn">
      <ion-card>
        <ion-card-content routerLink="/tabs/login">
          <ion-text [ngClass]="{ 'ion-text-arabic': language == 'ar', 'ion-text-english': language == 'en'}">{{ 'LOGIN.LOGIN' | translate}}</ion-text>
          <ion-icon [ngClass]="{ 'ion-icon-arabic': language == 'ar', 'ion-icon-english': language == 'en'}" size="large" name="log-in-outline"></ion-icon>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row *ngIf="userIsLoggedIn && userProfile?.isAdmin">
      <ion-card>
        <ion-card-content>
          <ion-text [ngClass]="{ 'ion-text-arabic': language == 'ar', 'ion-text-english': language == 'en'}">{{ 'ADMINISTARTION.ADMINISTARTION' | translate}}</ion-text>
          <ion-icon [ngClass]="{ 'ion-icon-arabic': language == 'ar', 'ion-icon-english': language == 'en'}" size="large" name="person-outline"></ion-icon>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row *ngIf="userIsLoggedIn && userProfile && !userProfile?.isAdmin">
      <ion-card>
        <ion-card-content routerLink="/tabs/search-history">
          <ion-text [ngClass]="{ 'ion-text-arabic': language == 'ar', 'ion-text-english': language == 'en'}">{{ 'SEARCH_HISTORY.SEARCH_HISTORY' | translate}}</ion-text>
          <ion-icon [ngClass]="{ 'ion-icon-arabic': language == 'ar', 'ion-icon-english': language == 'en'}" size="large" name="file-tray-outline"></ion-icon>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row *ngIf="userIsLoggedIn && userProfile && !userProfile?.isAdmin">
      <ion-card>
        <ion-card-content>
          <ion-text [ngClass]="{ 'ion-text-arabic': language == 'ar', 'ion-text-english': language == 'en'}">{{ 'FAVORITES.FAVORITES' | translate}}</ion-text>
          <ion-icon [ngClass]="{ 'ion-icon-arabic': language == 'ar', 'ion-icon-english': language == 'en'}" size="large" name="bookmarks-outline"></ion-icon>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-card>
        <ion-card-content routerLink="/tabs/settings">
          <ion-text [ngClass]="{ 'ion-text-arabic': language == 'ar', 'ion-text-english': language == 'en'}">{{ 'SETTINGS.SETTINGS' | translate}}</ion-text>
          <ion-icon [ngClass]="{ 'ion-icon-arabic': language == 'ar', 'ion-icon-english': language == 'en'}" size="large" name="settings-outline"></ion-icon>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row *ngIf="userIsLoggedIn">
      <ion-card>
        <ion-card-content (click)="logout()">
          <ion-text [ngClass]="{ 'ion-text-arabic': language == 'ar', 'ion-text-english': language == 'en'}">{{ 'MORE.LOGOUT' | translate}}</ion-text>
          <ion-icon [ngClass]="{ 'ion-icon-arabic': language == 'ar', 'ion-icon-english': language == 'en'}" size="large" name="log-out-outline"></ion-icon>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>

</ion-content>