<ion-tabs (ionTabsDidChange)="getSelectedTab()">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon *ngIf="selectedTab != 'home'" name="home-outline"></ion-icon>
      <ion-icon *ngIf="selectedTab == 'home'" name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="search-manually">
      <ion-icon *ngIf="selectedTab != 'search-manually'" name="search-outline"></ion-icon>
      <ion-icon *ngIf="selectedTab == 'search-manually'" name="search"></ion-icon>
    </ion-tab-button>

    <ion-tab-button></ion-tab-button>

    <ion-tab-button name="barcode" (click)="openBarcodeScannerDialog()">
      <ion-icon *ngIf="selectedTab != ''" name="qr-code-outline"></ion-icon>
      <ion-icon *ngIf="selectedTab == ''" name="qr-code"></ion-icon>
      <app-search-by-barcode></app-search-by-barcode>
    </ion-tab-button>

    <ion-tab-button tab="more">
      <ion-icon *ngIf="selectedTab != 'more'" name="ellipsis-horizontal-outline"></ion-icon>
      <ion-icon *ngIf="selectedTab == 'more'" name="ellipsis-horizontal"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-fab (click)="openImageSearchDialog()" vertical="bottom" horizontal="center">
  <ion-fab-button>
    <ion-icon size="large" name="camera-outline"></ion-icon>
    <app-search-by-image></app-search-by-image>
  </ion-fab-button>
</ion-fab>