<ion-toolbar>
  <ion-buttons routerLink="/tabs/home" slot="start">
    <ion-icon size="large" name="chevron-back-outline"></ion-icon>
  </ion-buttons>
  <h1 class="ion-text-center">Search manually</h1>
</ion-toolbar>

<ion-content>
  <ion-searchbar [formControl]="medicationName" mode="ios" animated howCancelButton="focus"></ion-searchbar>

  <ion-fab-button [disabled]="!medicationName.valid" (click)="searchForMedication()" class="search">
    <ion-icon name="search-outline"></ion-icon>
  </ion-fab-button>

</ion-content>