@font-face {
    font-family: 'Teko Regular';
    src: url('../assets/fonts/Teko-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Teko Light';
    src: url('../assets/fonts/Teko-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Teko Bold';
    src: url('../assets//fonts/Teko-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }