<ion-toolbar>
  <h1 class="ion-text-center">Home</h1>
</ion-toolbar>

<ion-content>
  <!-- <div class="box"></div> -->

  <ion-text class="welcome">
    <span>Welcome,</span> <br />
    to quick medication information were you can browse for medications
    information quickly
  </ion-text>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <div>
          <ion-card (click)="openImageSearchDialog()" class="ion-text-center">
            <ion-card-content>
              <ion-icon size="large" name="camera-outline"></ion-icon>
              <h1>Search by image</h1>
              <app-search-by-image></app-search-by-image>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
      <ion-col size="6">
        <ion-card (click)="openBarcodeScannerDialog()" class="ion-text-center">
          <ion-card-content>
            <ion-icon size="large" name="qr-code-outline"></ion-icon>
            <h1>Search by barcode</h1>
            <app-search-by-barcode></app-search-by-barcode>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card routerLink="/tabs/search-manually" class="ion-text-center">
          <ion-card-content>
            <ion-icon size="large" name="text-outline"></ion-icon>
            <h1>Search Manually</h1>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngIf="!userIsLoggedIn" size="6">
        <ion-card routerLink="/tabs/login" class="ion-text-center">
          <ion-card-content>
            <ion-icon size="large" name="log-in-outline"></ion-icon>
            <h1>Log In</h1>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngIf="userIsLoggedIn && userProfile?.isAdmin" size="6">
        <ion-card class="ion-text-center">
          <ion-card-content>
            <ion-icon size="large" name="person-outline"></ion-icon>
            <h1>Administration</h1>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
