// .box{
//     background-color: #f4f5f8;
//     width: 100%;
//     height: 100%;
//     border-top-right-radius: 51px;
//     border-top-left-radius: 51px;
//     position: absolute;
//     top: 0px;
//     left: 0px;
// }
ion-toolbar-arabic{
  letter-spacing: 0;
}

ion-grid {
  margin-top: 131px;
}

.ios {
  ion-grid {
    margin-top: 103px;
  }
}

ion-card {
  color: white;
  //   color: #909090;
  height: 24vh;
  border-radius: 13px;
  background-color: var(--ion-color-primary);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

ion-card-content {
  padding: 54px 0;
  text-align: center;
}

.welcome {
  // color: #69bb7b;
  position: absolute;
  // margin-top: 49px;
  margin-left: 27px;
  font-size: 22px;
  white-space: pre-wrap;
  letter-spacing: 1px;
  color: var(--ion-color-primary-tint);
  span {
    font-weight: bold;
    font-size: 38px;
    letter-spacing: 2px;
    color: var(--ion-color-primary);
  }
}

.welcome-arabic {
  margin-right: 27px;
  letter-spacing: 0;
  span {
    letter-spacing: 0;
  }
}
