<ion-toolbar [ngClass]="{ 'rtl': language == 'ar' }">
  <h1 [ngClass]="{ 'rtl': language == 'ar', 'page-title': userIsLoggedIn}" class="ion-text-center">
    {{'HOME.HOME' | translate}}</h1>
  <ion-buttons *ngIf="userIsLoggedIn" [ngClass]="{ 'rtl': language == 'ar'}" slot="end">
    <ion-chip>
      <ion-avatar>
        <img src="../../../assets/icon//profile.png">
      </ion-avatar>
      <ion-label>{{userProfile?.username}}</ion-label>
    </ion-chip>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <!-- <div class="box"></div> -->

  <ion-text class="welcome" [ngClass]="{ 'welcome-arabic': language == 'ar'}">
    <span>{{'HOME.WELCOME' | translate}},</span> <br />
    {{'HOME.WELCOME_MESSAGE' | translate}}
  </ion-text>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <div>
          <ion-card (click)="openImageSearchDialog()" class="ion-text-center">
            <ion-card-content>
              <ion-icon size="large" name="camera-outline"></ion-icon>
              <h1>{{'SEARCH_BY_IMAGE.SEARCH_BY_IMAGE' | translate}}</h1>
              <app-search-by-image></app-search-by-image>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
      <ion-col size="6">
        <ion-card (click)="openBarcodeScannerDialog()" class="ion-text-center">
          <ion-card-content>
            <ion-icon size="large" name="qr-code-outline"></ion-icon>
            <h1>{{'SEARCH_BY_BARCODE.SEARCH_BY_BARCODE' | translate}}</h1>
            <app-search-by-barcode></app-search-by-barcode>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card routerLink="/tabs/search-manually" class="ion-text-center">
          <ion-card-content>
            <ion-icon size="large" name="search-outline"></ion-icon>
            <h1>{{'SEARCH_MANUALLY.SEARCH_MANUALLY' | translate}}</h1>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngIf="!userIsLoggedIn" size="6">
        <ion-card routerLink="/tabs/login" class="ion-text-center">
          <ion-card-content>
            <ion-icon size="large" name="log-in-outline"></ion-icon>
            <h1>{{'LOGIN.LOGIN' | translate}}</h1>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngIf="userIsLoggedIn && userProfile?.isAdmin" size="6">
        <ion-card class="ion-text-center">
          <ion-card-content>
            <ion-icon size="large" name="person-outline"></ion-icon>
            <h1>{{'ADMINISTARTION.ADMINISTARTION' | translate}}</h1>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngIf="userIsLoggedIn && userProfile && !userProfile?.isAdmin" size="6">
        <ion-card routerLink="/tabs/search-history" class="ion-text-center">
          <ion-card-content>
            <ion-icon size="large" name="file-tray-outline"></ion-icon>
            <h1>{{'SEARCH_HISTORY.SEARCH_HISTORY' | translate}}</h1>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>