<ion-slides pager="true" [options]="slideOpts">
  <ion-slide class="step-one">
    <h1>Welcome</h1>
    <ion-img scr=""></ion-img>
    <p>
      Qucik medication infromation is a hybrid mobile application can be used to
      search for medications information easily and quickly using three search
      methods.
    </p>
    <ion-button (click)="next()">Next</ion-button>
  </ion-slide>
  <ion-slide class="step-two">
    <ion-img scr=""></ion-img>
    <p></p>
    <ion-button (click)="next()">Next</ion-button>
  </ion-slide>
  <ion-slide class="step-three">
    <ion-img scr=""></ion-img>
    <p></p>
    <ion-button (click)="next()">Next</ion-button>
  </ion-slide>
  <ion-slide class="step-four">
    <ion-img scr=""></ion-img>
    <p></p>
    <ion-button (click)="next()">Next</ion-button>
  </ion-slide>
  <ion-slide class="step-five">
    <ion-img scr=""></ion-img>
    <p></p>
    <ion-button (click)="next()">Next</ion-button>
  </ion-slide>
  <ion-slide class="step-six">
    <ion-img scr=""></ion-img>
    <p></p>
    <ion-button (click)="next()">Next</ion-button>
  </ion-slide>
  <ion-slide class="step-seven">
    <ion-img scr=""></ion-img>
    <p></p>
    <ion-button (click)="finish()">Finish</ion-button>
  </ion-slide>
</ion-slides>
