ion-toolbar {
  --background: white;
  color: var(--ion-color-primary-tint);
}

ion-content {
  --background: white;
}

span.attribute-name {
  color: #999999c7;
  letter-spacing: 2px;
}

span.attribute-value {
  color: var(--ion-color-primary);
  display: block;
  font-size: 33px;
  letter-spacing: 2px;
}

ion-col.details {
  padding-left: 38px;
}

.medication-image {
  background: url("../../../assets/red-pill.png");
  background-position: center;
  background-size: cover;
  background-color: transparent;
}

ion-grid.basic-details {
  margin-top: 105px;
}

p {
  color: var(--ion-color-primary);
  font-size: 18px;
  letter-spacing: 1px;
  white-space: pre-line;
}

.image-skeleton {
  height: 100%;
}

ion-grid.error-message-container {
  text-align: center;
}

.error-message {
  color: var(--ion-color-primary);
}
