<ion-toolbar>
  <ion-buttons routerLink="/tabs/home" slot="start">
    <ion-icon size="large" name="arrow-back-outline"></ion-icon>
  </ion-buttons>
  <h1 class="ion-text-center">Medication Details</h1>
  <ion-buttons slot="end">
    <ion-icon size="large" name="help-outline"></ion-icon>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>Image</ion-col>
      <ion-col>
        <ion-row>
          <ion-col>
            <span class="attribute-name">Brand name</span>
            <span class="attribute-value">Tenormin</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <span class="attribute-name">Active Component</span>
            <span class="attribute-value">porpeppeee</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <span class="attribute-name">Price</span>
            <span class="attribute-value">20 SAR</span>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="details">
        <span class="attribute-name">Alternative Medication</span>
        <span class="attribute-value">fevadol</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
