ion-toolbar {
  --background: white;
  color: var(--ion-color-primary-tint);
}

ion-toolbar.rtl{
  letter-spacing: 0;
}

ion-grid{
  margin-top: 25px;
}

ion-content {
  --background: white;
}

span.attribute-name {
  color: #999999c7;
  letter-spacing: 2px;
}

span.attribute-name.rtl{
  letter-spacing: 0;
  font-weight: bold;
}

span.attribute-value {
  color: var(--ion-color-primary);
  display: block;
  font-size: 33px;
  letter-spacing: 2px;
}

span.attribute-value.rtl{
  letter-spacing: 0;
}

ion-col.details {
  padding-left: 38px;
}

ion-col.details.rtl{
  padding-left: 0;
  padding-right: 38px;
}

.medication-image {
  background: url("../../../assets/red-pill.png");
  background-position: center;
  background-size: cover;
  background-color: transparent;
}

ion-grid.basic-details {
  margin-top: 105px;
}

p {
  color: var(--ion-color-primary);
  font-size: 18px;
  letter-spacing: 1px;
  white-space: pre-line;
}

p.rtl{
  letter-spacing: 0;
}

.image-skeleton {
  height: 100%;
}

ion-col.image-col {
  padding-left: 36px;
}

ion-col.image-col.rtl{
  padding-left: 0;
  padding-right: 36px;
}

ion-grid.error-message-container {
  text-align: center;
}

.error-message {
  color: var(--ion-color-primary);
}

ion-icon.bookmark-icon{
  float: right;
  position: relative;
  right: 41px;
}

ion-icon.bookmark-icon.rtl{
  float: left;
  position: relative;
  right: unset;
  left: 41px;
}
